name: Build & Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # The Dependency Submission API requires write permission
      packages: write
    steps:
      - uses: actions/checkout@v4
      - run: java -version
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'liberica'
          cache: 'gradle'

      - run: ./gradlew jar testClasses
      - run: cd sample && docker-compose up -d db && cd -
      - run: ./gradlew test --info
      - run: cd sample && docker-compose stop db && cd -
      - run: cd sample && docker-compose build && cd -
      - run: .github/workflows/check-readme-links.sh

      - uses: mikepenz/gradle-dependency-submission@v0.8.6
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          gradle-build-module: |-
            :server
            :slf4j
            :jackson
            :liquibase
            :sample
